#form-produto input {
    max-width: 300px;
}

.card-produto {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-produto img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.card-produto h3 {
    font-size: 1.1em;
    margin: 10px 0;
    flex-grow: 1;
}

.card-produto p {
    color: #007BFF;
    font-weight: bold;
    font-size: 1.25em;
}

.card-produto {
    flex: 0 1 calc(25% - 1rem);
    box-sizing: border-box;
}
